body, html{
    height: 100%;
    background-color: white;
    font-size:10px;
    margin: 0px;
    padding:0;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.0em;
}

.sect{
    background-color: lightgrey;
    margin:0px;
    padding: 30px;
    height:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

#defaultname{
    background-color:#4aaaa5;
    color:#ffffff; 
    font-display: center;
    float: left;
    font-family: Georgia;
    outline: none;
    padding: 1.3% 2%;
    font-size: 3.0em;
    width: 25%;
    margin: 0 auto;
    margin-left: 10%;
}

nav ul{
    background-color:#ffffff;
    color: black; 
    font-family: Georgia;
    cursor: pointer;
    padding: 0px 14px;
    font-size: 1.5em;
    overflow: hidden;
    list-style:none;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:22%;
    margin-right:26%;

}

nav ul li:hover{
    background-color: #399077;
}

nav ul li{
    padding:20px;
    margin-top:30px;
    float: right;
    font-family:Arial;
    font-size: 1.5em;
}

.content{
    padding:30px 50px;
    border: 1px solid black;
    background-color:#ffffff;
    margin: 0 auto;
    line-height: 1.5;
    width:60%;
    max-width:40%;
}


#photo{
    float: left;
    width: 30%;
    margin-top: 6%; 
    margin-bottom:3.5%;
    margin-right:1%;
    margin-left:none;
    transform: rotate(270deg);   
}

.footer{
    position: fixed;
    position: absolute;
    width: 100%;
    left:0;
    height:50px;
    background-color: grey;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;

}

p{    
    font-family:Arial;
    font-size: 2.0em;
    margin: none;
}


.page{
    background-color: lightgray;
    height:80%;
    overflow:hidden;

}

.pict{
    width:40%;   
    margin: 7px 7px;
    border:2px solid;
    border-color: #399077;
    display:inline;

}

.portname{
    background-color: #399077;
    color:white;
    font-size: 2em;
    text-align:center;
    width:95%;
    position:absolute;
    right:15px;
    z-index:2;
    right:0px;
    bottom:0px;
    display:inline-block;
    margin: 7px 7px;
    border: 2px solid;
    
}

.size{
    display:inline;
    padding:10px;
  
}

@media screen and (max-width:500px){
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding:15px;
        text-align:left;
    }
}

#message{
    height: 300px;
}

label{  
    font-family:Arial;
    font-size: 2em;
    line-height: 1.5;
}

#submit{
    margin:10px;
    height:30px;
    width: 15%;
    background-color:#4aaaa5;
    color: white;
    font-size: 1.5em;
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size: 2.0em;
}

.relative{
    position:relative;
    
    display:inline;
    overflow:hidden;
    
}